<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Grilla de usuarios</h1>
            <a href="/users/new">Ir al formulario de alta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{id_user}}</th>
                        <td>{{email}}</td>
                        <td>{{password}}</td>
                        <td>
                            <img src="/images/{{image}}">
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>